<!DOCTYPE html>
<html>
  <head>
    <title>WordsStudy</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="js_bridge">
      <p id="js_toasts"><%= @js_toasts %></p>
    </div>
    <%= yield %>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a data-target="slide-out" class="btn-floating sidenav-trigger"><i class="material-icons">menu</i></a></li>
        <li><a class="btn-floating"><i class="material-icons">create</i></a></li>
        <li><a class="btn-floating"><i class="material-icons">check</i></a></li>
        <li><a class="btn-floating"><i class="material-icons">flag</i></a></li>
      </ul>
    </div>
    <div>
        <ul id="slide-out" class="sidenav">
          <li><div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
    </div>
  </body>
</html>
